   .sidebar {
  width: 250px;
  background-color: #343a40;
  color: white;
  height: 100vh;
  padding: 1rem;
  position: fixed;
}




.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
}

.sidebar a:hover {
  background-color: #495057;
  border-radius: 5px;
}

body {
  margin: 0;
}

.main-content {
  margin-left: 550px; 
 
  flex-grow: 100;
}


.header-box {
  background: #fff;             /* Fondo blanco */
  border-radius: 8px;           /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombrilla */
}





.content {
  
  margin-left: 250px;
  flex-grow: 1; 
  padding: 1rem;
  overflow-y: auto; 
  min-height: 100vh;
  background-color: #f8f9fa;
}

.page-container {
  max-width: 800px;          
  margin: 40px auto;         
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
}




.calculadora-container {
    
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    font-family: Arial, sans-serif;
}


.calculadora-container input,
.calculadora-container button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.calculadora-container input {
    border: 1px solid #ccc;
}

.calculadora-container button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.calculadora-container button:hover {
    background-color: #0056b3;
}


.opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}